###
# This file is only here to make sure that something like
#
#    pip install -e .
#
# works as expected. Requirements can be found in setup.py.
###
websocket-client
requests
humanfriendly
#OctoPrint>=1.3.11
zipfile2
PyYAML
.
