<a id="discordremote_indicator" class="pull-right" title="DiscordRemote command" href="#" data-bind="click: sendTestMessage, visible: loginState.hasPermissionKo(access.permissions.PLUGIN_DISCORDREMOTE_EXECUTE)">
    <i class="fa fa-gamepad"></i>
</a>
