<a id="discordremote_indicator" class="pull-right" title="DiscordRemote status. Click to send test message" href="#" data-bind="click: function() { $root.sendTestMessage(); }">
    <i class="fa fa-gamepad"></i>
</a>
